/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.color-black {
    color: #eeeeee;
    font-size: xx-large;
}

.carousel-centered {
    border-radius: 5px;
    padding: 30px;
    background-color: rgba(94, 156, 210, 0.89);
}
#logoutForm li {
    float: left;
}