
@{
    ViewBag.Title = "Index";
}

    <h2>Playground</h2>
    <p>
        <ul class="list-group">
            <li class="list-group-item"><a href="/Playground/StoredProcedure">Stored Procedure</a></li>
            <li class="list-group-item"><a href="/ExamplePersonCodeFirst">Code First</a></li>
        </ul>
    </p>