@using Microsoft.AspNet.Identity
@using Excercises.Models.ModelHelpers

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        <li class="js_nav-item nav-item">
            @Html.ActionLink("Hello " + User.GetNickName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @title = "Manage", @class="nav-item-child nav-item-hover" })
        </li>
        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover"  href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    }
}
else
{
        <li class="js_nav-item nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @id = "registerLink", @class = "nav-item-child nav-item-hover" })</li>
        <li class="js_nav-item nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @id = "loginLink", @class = "nav-item-child nav-item-hover" })</li>
}
